<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading">Trends</p>
        <a class="panel-block">
            #ruby_on_rails
        </a>
         <a class="panel-block">
            #webdev
        </a>
         <a class="panel-block">
            #hire_me
        </a>
         <a class="panel-block">
            #twittter_trends
        </a>
         <a class="panel-block">
            #christmas
        </a>
         <a class="panel-block">
            #trend_six
        </a>
        </nav>
        </div>